wst/trunk/tests/test_suite/files/complex_class_group10.wsdl

<?xml version="1.0"?>
<definitions name="wst_test" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="library1" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   targetNamespace="urn:wst-test">

  <types>

      <xsd:schema xmlns:n="urn:wst-test" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="urn:wst-test">
        
            <xsd:complexType name="TClassSampleType">
              <xsd:sequence>
                <xsd:element name="intField" type="xsd:int" />
                <xsd:group ref="n:TContactGroupType" minOccurs="0" maxOccurs="unbounded" />
              </xsd:sequence>
              <xsd:attribute name="strField" type="xsd:string"/>
            </xsd:complexType>
          
            <xsd:group name="TContactGroupType">
              <xsd:sequence>
                <xsd:element name="firstName" type="xsd:string" />
                <xsd:element name="lastName" type="xsd:string" />
              </xsd:sequence>
              <xsd:attribute name="Age" type="xsd:int"/>
            </xsd:group>
    
      </xsd:schema>  
  
  </types>
  

</definitions>
