wst/trunk/tests/test_suite/files/complex_class_group_att5.wsdl

<?xml version="1.0"?>
<definitions name="wst_test" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="library1" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   targetNamespace="urn:wst-test">

  <types>

      <xsd:schema xmlns:n="urn:wst-test" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="urn:wst-test">
        
            <xsd:complexType name="TClassSampleType">
              <xsd:sequence>
                <xsd:element name="intField" type="xsd:int" />
              </xsd:sequence>
              <xsd:attribute name="strField" type="xsd:string"/>
              <xsd:attributeGroup ref="n:TContactGroupType" />
            </xsd:complexType>
          
            <xsd:attributeGroup name="TContactGroupType">
              <xsd:attribute name="firstName" type="xsd:string" />
              <xsd:attribute name="lastName" type="xsd:string" />
              <xsd:attributeGroup ref="n:TJobGroupType" />
            </xsd:attributeGroup>
            
            <xsd:attributeGroup name="TJobGroupType">
              <xsd:attribute name="jobPosition" type="xsd:string" />
              <xsd:attribute name="employer" type="xsd:string" />
            </xsd:attributeGroup>
    
      </xsd:schema>  
  
  </types>
  

</definitions>
