wst/trunk/tests/test_suite/files/function_composed_name.wsdl

<?xml version="1.0"?>
<definitions name="library1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="library1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="library1">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="library1" targetNamespace="library1"/>
  </types>
  <message name="inputMessage">
    <part name="one-param" type="xsd:string"/>
    <part name="one-two-param" type="xsd:string"/>
  </message>
  <message name="simpleOutputMessage" />
  <message name="funcOutputMessage">
    <part name="one-two-param" type="xsd:string"/>
    <part name="result" type="xsd:string"/>
  </message>  
  <portType name="TestService">
    <operation name="Composed-Name-Proc">
      <input message="tns:inputMessage"/>
      <output message="tns:simpleOutputMessage"/>
    </operation>
    <operation name="Composed-Name-Func">
      <input message="tns:inputMessage"/>
      <output message="tns:funcOutputMessage"/>
    </operation>
  </portType>
  <binding name="TestServiceBinding" type="tns:TestService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Composed-Name-Proc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="library1"/>
      </input>
      <output>
        <soap:body use="literal" namespace="library1"/>
      </output>
    </operation>
    <operation name="Composed-Name-Func">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="library1"/>
      </input>
      <output>
        <soap:body use="literal" namespace="library1"/>
      </output>
    </operation>
  </binding>
  <service name="TestService">
    <port name="TestServicePort" binding="tns:TestServiceBinding">
      <soap:address location=""/>
    </port>
  </service>
</definitions>
